.form-group {
    margin: 10px 10px;
}

.layout-group {
    margin: 3px 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.bottom {
    margin-bottom: 15px;
}

.false {
    background-color: orange !important;
}

.right {
    display: flex;
    justify-content: end;
    margin: -10px 10px 10px 0px;
}

.modalBodySpinner{
    position: relative;
}
